body {
}

* {
    padding: 0px;
    margins: 0px;
}


#menu ul
{
    list-style: none;
}
    #menu ul li {
        background-color: cornflowerblue;
        border: solid 1px white;
        width: 120px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        float: left;
        position: relative;
        text-decoration: none;
        color: white;
        display: block;
    }

#menu ul li a:hover
{
    background-color: #ff6a00;
    color: #fff;
}

#menu ul ul
{
    position: absolute;
    display: none;
}

#menu ul li > ul li
{
    background-color:#18e277;
    color: #edeef8;
    border: solid 1px white;
}

#menu ul li:hover > ul
{
    display: block;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}