body {
}

#rcorners1 {
    border-radius: 25px;
}

#rcorners2 {
    border-radius: 25px;
}

#rcorners3 {
    border-radius: 25px;
}

#rcorners4 {
    border-radius: 25px;
}

#rcorners5 {
    border-radius: 25px;
}

#rcorners6 {
    border-radius: 25px;
}